@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }
  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .card {
    @apply px-8 py-8 backdrop-blur-[70px] rounded-3xl;
    background: rgba(255, 255, 255, 0.8);
  }
  .card__header {
    @apply text-2xl font-bold text-gray-900 dark:text-white;
  }
  .button {
    @apply w-full px-5 py-[10px] text-sm font-medium text-center text-white bg-purple-600 rounded-lg hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 sm:w-auto dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 disabled:bg-gray-400;
  }
  .link {
    @apply text-purple-600 hover:underline dark:text-purple-500;
  }
  .custom-container {
    @apply max-w-[1370px] py-0 px-[15px] box-content my-0 mx-auto h-full flex-auto w-[calc(100%-30px)];
  }
  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .badge {
    @apply text-xs font-medium px-2.5 py-0.5 rounded ;
  }
  .badge-blue {
    @apply badge bg-blue-100 text-purple-600 dark:bg-blue-900 dark:text-purple-300;
  }
  .badge-gray {
    @apply badge bg-gray-100 text-gray-600 dark:bg-gray-700 dark:text-gray-300;
  }
  .badge-red {
    @apply badge bg-red-100 text-red-600 dark:bg-red-900 dark:text-red-300;
  }
  .badge-green {
    @apply badge bg-green-100 text-green-600 dark:bg-green-900 dark:text-green-300;
  }
  .badge-yellow {
    @apply badge bg-yellow-100 text-yellow-600 dark:bg-yellow-900 dark:text-yellow-300;
  }
  .badge-indigo {
    @apply badge bg-indigo-100 text-indigo-600 dark:bg-indigo-900 dark:text-indigo-300;
  }
  .badge-purple {
    @apply badge bg-purple-100 text-purple-600 dark:bg-purple-900 dark:text-purple-300;
  }
  .badge-pink {
    @apply badge bg-pink-100 text-pink-600 dark:bg-pink-900 dark:text-pink-300;
  }
  .checkbox {
    @apply w-4 h-4 rounded border-[0.5px] border-gray-300 bg-gray-50 cursor-pointer text-purple-600;
  }
}

.bg-shadow {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


input[type=number] {
  padding: 0!important;
  border: none!important;
  font-size: inherit!important;
  background: inherit!important;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
